/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Data De Modificação:  23/04;
Autor:  M. Fernanda Pinheiro - mfpinheiro02@gmail.com;

Sintaxe: 
	Identificadores: sintaxeIdentificadores; 
	Classes: SintaxeClasses; 
	ícones: ICONES;
Paleta de cores: 
	Azul escuro: #141F49 ;
	Cinza: #F1F1F1;
	Azul médio: #11386B;

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 

/* PADRÕES SEM IDENTIFICADOR VÁLIDOS E/OU VÁLIDOS TODO O ESCOPO */

* { 
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

body {
	background-color: #F1F1F1;
	background-size: 100%;
}

footer {
	color: #11386B;
	font-size: 13px;
	text-align: center;
	font-style: italic;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*OPÇÕES DE BODY POR IMAGEM*/

#bodySigaa{
	background-image: url(img/bgsigaa.png);
}

#bodySipac{
	background-image: url(img/bgsipac.png);
}

#bodySigrh{
	background-image: url(img/bgsigrh.png);
}

#bodySigpp{
	background-image: url(img/bgsigpp.png);
}

#bodySiged{
	background-image: url(img/bgsiged.png);
}

#bodySigaAdmin{
	background-image: url(img/bgsigaadmin.png);
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* BARRA DE NAVEGAÇÃO */

#navigationLane{ /*Faixa Azul superior externa*/
	background-color: #141F49;
	position: absolute;
	z-index: 20;
	height: 75px;
	width: 83%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 	25px;
	margin-left: 8.5%;
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.NavigationBar { /*Faixa interna com links de navegação */
	height: 30px;
	width: 80%;
	margin-left: 10%;
	margin-top: 27px;
	display: flex;
	justify-content: space-between;
}

.NavigationBar a { /*Formatação para links de navegação */
	text-decoration: none;
	color: 	#F1F1F1;
	font-weight:  bold;
	font-size: 	20px;
}

.ItemNavigationBar:hover { /*Formatação para links de navegação ao passar o mouse*/
	border-top: 3px solid #F1F1F1;
}

.ItemNavigationBar:active { /*Formatação para o link corrente*/
	text-decoration:overline;  /*alterado*/
	
}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*ÁREA E FORM. DE LOGIN*/

#loginFrame { /*Área da tela reservada para criação do formulário de login */
	/*background-color: #F1F1F1;
	opacity: 0.85;*/
	background-color: rgba(255,255,255,.85);
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

#loginBox { /* Formulário de login */
	margin-top: 130px;
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify-all;
}

#loginBox h1 { /*Título principal do formulário*/
	color: #141F49;
	font-size: 40px;
}

#loginBox h2 { /*Subtítulo do formulário*/
	color: #11386B;
	font-size: 20px;
	font-weight: initial;
	font-style: italic;
}

/*Formatação p/ área de entrada de dados do formulário*/
#loginBox input { 
	height: 50px;
	background-color: transparent;
	border: transparent;
	color: #11386B;
	font-size: 15px;
	width: 	94%;
}

#loginBox input::placeholder {
  color: #11386B;
  margin-left: 25px;
}

.LabelLogin {
	width: 	100%;
	border-bottom: solid;
	border-color: #141F49;
}

/*Botões:::::::::::::::::::::::::::::::::::*/
#btnLogin {
	width: 100%;
	background-color: #141F49;
	color: #F1F1F1;
	font-weight: bold;
	padding: 15px;
	border-radius: 50px;
	border: transparent;
	font-size: 25px;
	opacity: 0px;
}

#btnRegister {
	width: 35%;
	background-color: #11386B;
	color: #F1F1F1;
	padding: 8px;
	border-radius: 50px;
	border: transparent;
	font-size: 17px;
	opacity: 0px;
}

#btnProblems {
	color: #11386B;
	width: 65%;
	text-align: right;
	font-size: 17px;
}

#btnsRegisterAndProblems {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
/*:::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


