/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Sintaxe: 
	Identificadores: sintaxeIdentificadores; 
	Classes: SintaxeClasses; 
	ícones: ICONES;
Paleta de cores: 
	Azul escuro: #141F49 ;
	Cinza: #F1F1F1;
	Azul médio: #11386B;
	Amarelo:  #dba838;
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */ 


/* PADRÕES SEM IDENTIFICADOR VÁLIDOS E/OU VÁLIDOS TODO O ESCOPO */

* { 
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

i {
	cursor: pointer;
}

body {
	background-color: #F1F1F1;
	background-size: cover; /*fazendo com que se adeque ao tamanho */
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*EDIÇÃO DE BACKGROUND */

#confImage { /* Bloco opaco para ajudar na edição da imagem de fundo */
	background-color: #DBA838;
	opacity: 0.2;
	width: 50vw;
	height: 100vh;
	margin-left: 50vw;
	position: absolute;
	z-index: 10;
}

#bodySigaa{
	background-image: url(img/bgsigaa.png);
}

#bodySipac{
	background-image: url(img/bgsipac.png);
}

#bodySigrh{
	background-image: url(img/bgsigrh.png);
}

#bodySigpp{
	background-image: url(img/bgsigpp.png);
}

#bodySiged{
	background-image: url(img/bgsiged.png);
}

#bodySigaAdmin{
	background-image: url(img/bgsigaadmin.png);
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* BARRA DE NAVEGAÇÃO */

#botaomenu
{
	display: none;
}

#logo
{
	display: none;
}
                
#navigationLane{ /*Faixa Azul superior externa*/
	background-color: #141F49;
	position: absolute;
	z-index: 20;
	height: 75px; 
	width: 83%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 	25px;
	margin-left: 8.5%;
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),0.3em 0.3em 1em rgba(0,0,0,0.3);
}
#navigationLane2
{
	display: none;
}


.NavigationBar { /*Faixa interna com links de navegação */
	height: 45%;
	width: 80%;
	margin-left: 10%;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color: 	#F1F1F1;
	font-weight:  900px;
	font-size: 	129%; /*20px*/
	cursor: pointer;
}

.ItemNavigationBar {
	padding-top: 3px;
}

.ItemNavigationBar:hover { /*Formatação para links de navegação ao passar o mouse*/
	border-top: 2px solid #DBA838;
}

.ItemNavigationBarActive { /*Formatação para o link corrente*/
	text-decoration: none;
	border-top: 2px solid #DBA838;
	font-weight:  bold;
	padding-top: 3px;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*ÁREA E FORM. DE LOGIN*/

#loginFrame { /*Área da tela reservada para criação do formulário de login */
	/*background-color: #F1F1F1;
	opacity: 0.85;*/
	background-color: rgba(255,255,255,.85);
	width: 50vw;
	height: 100vh;
	position: absolute;
	z-index: 10;
}

#loginBox { /* Formulário de login */
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify-all;
}

#loginBox h1 { /*Título principal do formulário*/
	color: #141F49;
	font-size: 259%; /*40px*/
	margin-top: 10%;
	margin-bottom: 4%; /*adaptação aos monitores*/
}

#loginBox h2 { /*Subtítulo do formulário*/
	color: #11386B;
	font-size: 129%; /*20px*/
	font-weight: initial;
	font-style: italic;
	margin-bottom: 4%; /*adaptação aos monitores*/
}

/*Formatação p/ área de entrada de dados do formulário*/
#loginBox input { 
	height: 50px;
	background-color: transparent;
	border: transparent;
	color: #11386B;
	font-size: 97%; /*15px*/
	width: 	94%;
}

#loginBox input::placeholder {
  color: #11386B;
  margin-left: 25px;
}

.LabelLogin {
	width: 	100%;
	border-bottom: solid;
	border-color: #141F49;
}

#formLogin1{
	margin-top: 30%; /*adaptar aos monitores*/
	max-height: 100%;
	min-height: 100%;
}

/*Botões Formulário:::::::::::::::::::::::::::::::::::*/
#btnLogin {
	width: 100%;
	background-color: #141F49;
	color: #F1F1F1;
	font-weight: bold;
	padding: 15px;
	border-radius: 50px;
	border: transparent;
	font-size: 129%; /*20px*/
	opacity: 0px;
	cursor: pointer;
	margin-top: 7%;
}

#btnRegister {
	width: 35%;
	background-color: #DBA838;
	color: #141F49;
	font-weight: bold;
	padding: 8px;
	border-radius: 50px;
	border: transparent;
	font-size: 110%; /*17px*/
	opacity: 0px;
	cursor: pointer;
	margin-top: 7%;
}

#btnProblems {
	color: #11386B;
	width: 65%;
	text-align: right;
	font-size: 110%; /*17px*/
	margin-top: 7%;
}

#btnsRegisterAndProblems {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
/*:::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* MENU POPUP CADASTRO */

#menuPopUp { /*Box externo menu popup*/
	background-color: #F1F1F1;
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),0.3em 0.3em 1em rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 50;
	width: 93%;
	height: 93%;
	border-radius: 50px;
}

#menuPopUp #menuPopUpLine1 { /*Primeira faixa interna do menu popup*/
	border-radius: 50px;
	margin-top: 2%;
	margin-left: 2%;
	width: 96%;
	height: 5%;
	font-size: 35px;
	color: #141F49;
	display: flex;
	justify-content: right;
}

#menuPopUp #menuPopUpLine2 { /*Segunda faixa interna do menu popup - para botões*/
	border-radius: 50px;
	margin-top: 5%;
	margin-left: 10%;
	margin-bottom: 5%;
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: space-between;
}

/*Botões Menu PopUp:::::::::::::::::::::::::::::::::::*/

.BtnPopUp {
	width: 33.33%;
	border-radius: 50px;
	background-position: center;
	cursor: pointer;
	background-size: 85%;
	background-repeat: no-repeat;
}

.BtnPopUp:hover {
	border: 3px solid #141F49;
}

#btnPopUp1 { /*Cadastro Professores e Funcionários*/
	background-image: url(img/btnpopup1.png);
}

#btnPopUp2 { /*Cadastro Alunos (botão do meio)*/
	background-image: url(img/btnpopup2.png);
	margin-left: 20px;
	margin-right: 20px;
}

#btnPopUp3 { /*Cadastro familiares*/
	background-image: url(img/btnpopup3.png);

}

#menuPopUpLine1 button{ /*Botão fechar menu PopUp*/
	width: 40px;
	height: 40px;
	font-weight: bold;
	background-color: #141F49;
	color:#F1F1F1;
	font-size: 22px;
	border-radius: 50%;
	cursor: pointer;
}
/*:::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#footerOne {
	color: #11386B;
	font-size: 80%; /*13x*/
	text-align: center;
	font-style: italic;
	display: block;
	margin-top: 60px;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*ajuste no tamanho do box do login*/
@media only screen and (max-device-width: 502px)
{

}


/*----------------------------------------------------------------------*/

/*FORMATAÇÃO RESPONSIVA PARA MOBILE A PARTIR DE 640px de largura*/

@media (max-device-width: 630px)
{

	/* BARRA DE NAVEGAÇÃO */
  


/*Logo indicativa de sistema*/
#logo
 {
	 display:block;
	 text-align: left;
	 font-size: 30px;
	 position: relative;
	 bottom: 10px;
	 font-weight: bold;
	 

 }


 /*botão do menu hamburguer*/
#botaomenu

{
	display: block;
	position: relative;
	left: 90%;
	bottom: 40px;
	font-size: 30px;
} 
/*janela do menu mobile que aparece quando clicado no menu hamburguer*/
#mobile
{
	background-color: #141F49;
	width: 100%;
	height: 80vh;
	display:none;
	text-align: center;
	border-radius: 15%;
	opacity: 80%;
}
/*-------------------------------------------------------------------*/
#navigationLane
{
	display: none;
}

#navigationLane2{ /*Faixa Azul superior externa*/
	background-color: #141F49;
	width: 100%;
	height: 10%;
	margin:0;
	position: absolute;
	z-index: 20;
	display: block;
	position: relative;
	bottom: 2%;
	padding-top: 2%;	
}

/*Faixa interna com links de navegação */
.NavigationBar
{
	display: list-item;
	text-align: right;
	list-style: none;
	border: none;

	
}
.ItemNavigationBar 
{
	padding: 5%;	
}
/*Formatação para o link corrente*/
.ItemNavigationBarActive 
{ 
	border: none;
	padding: 5%;
	font-weight: normal;	
}

#loginFrame /*area reservada para formulario de login*/
{
	background-color: rgba(255,255,255,.85);
	width: 100%;
	height: 200vh;
	position: relative;
	bottom: 20%;
	padding-top: 10%;
}
body {
	
 /*fazendo com que se adeque ao tamanho */
	height: 100vh;
	width: 100vw;
	background-position-x: right;
	overflow-y: hidden;/*para evitar vazamento de página*/
		
}
/*---------------------------------------------------------------------*/
/*Formatação p/ área de entrada de dados do formulário*/
#loginBox input { 
	height: 20px;
	background-color: transparent;
	border: transparent;
	color: #11386B;
	font-size: 97%; /*15px*/
	width: 	94%;
	border: 0 none;
    outline: 0;
}


/*manipulando placeholder*/
#loginBox input::placeholder {
	color: #11386B;
	position: relative;
	left: 30px;
  }
/*-----------------------------------------------------------------*/
/*manipulando icones */
#iconeUsuario
{
	font-size: 10px;
	position: relative;
	top: 15px;
}
#iconeSenha
{
	font-size: 10px;
	position: relative;
	top: 15px;
}

#confImage { /* Bloco opaco para ajudar na edição da imagem de fundo */
	display: none;
}



#footerOne {
	color: #11386B;
	font-size: 75%; /*13x*/
	text-align: center;
	font-style: italic;
	display: block;
	margin-top: 45px;
}

}/*MEDIA 670*/


